body {
  background-color: #efefef;
}

#app {
  width: 50%;
  margin: auto;
}

.temp {
  margin: 0;
  font-size: 80px;
  text-align: right;
}

.today {
  &-detail {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      flex: 1;
      list-style: none;
      text-align: center;

      span {
        display: block;
      }
    }
  }
}
.forecast {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 10px;
    margin: 10px 0;
    overflow: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background: #fff;
  }

}
.weather-item {
  margin: 10px;
  text-align: center;
  display: inline-block;
}


@media screen and (max-width: 768px) {
  .container {
    width: 95% !important;
  }
  .header, .footer {
    text-align: center;
  }
  .nav {
    float: none;
    display: block;
  }
}